# Игнорировать файлы .pyc (скомпилированные Python-файлы)
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать виртуальное окружение
venv/
env/
.venv/

# Игнорировать файлы, созданные Poetry
.poetry/
.pytest_cache/

# Игнорировать файлы, созданные IDE
.vscode/
.idea/

# Игнорировать логи и временные файлы
*.log
*.tmp
*.swp
*.swo

# Игнорировать файлы, созданные операционной системой
.DS_Store
Thumbs.db

# Игнорировать файлы, созданные Python
*.egg-info/
dist/
build/

# Игнорировать файлы, созданные тестами
.coverage
htmlcov/
